body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #buttons-container {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005F6B;
  }
  