body {
    background-color: rgb(233, 201, 158);
    text-align: center;
    background-size:cover;
    background-image:url(https://wallpaperboat.com/wp-content/uploads/2020/06/03/42361/aesthetic-anime-02-920x518.jpg)
}

#kortti {
    margin: auto;
    width: 33%;
    border-color: rgb(173, 171, 171);
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 7px;
    border-radius: 15px 50px;
    padding: 20px;
    width: 200px;

}

#ajanvaraus{  
    margin: auto;
    width: 33%;
    border-color: rgb(173, 171, 171);
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 7px;
    border-radius: 15px 50px;
    padding: 20px;
    width: 200px;

}

#demo {
    color: red;
}